@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
/* 重置所有標籤的樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* RWD不累加內距padding與邊框border */
}

/* 重置字體 */
body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* 重置連接 */
a {
  display: block;
  text-decoration: none;
  color: #444;
}

section {
  display: flex;
  align-items: center;
}

body {
  font-family: "Goldman", sans-serif;
  overflow: hidden;
}

section {
  width: 100%;
  height: 100vh;
  background-image: url(../images/record/custom-gradient-12.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: end;
}
section header {
  position: absolute;
  font-size: 2rem;
  line-height: 2rem;
  top: 20px;
  left: 20px;
  padding: 10px;
  color: #EDEDED;
  border: 4px solid #EDEDED;
  display: none;
}
section audio {
  position: absolute;
  top: 20px;
  right: 200px;
}
section #audioLicense {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  color: #EDEDED;
  word-wrap: break-word;
  display: none;
}
section #audioLicense #freeDownload {
  color: #EDEDED;
  font-size: 0.8rem;
  border-radius: 5px;
  word-wrap: break-word;
}
section figure {
  width: 40%;
  height: 84vh;
  left: 30%;
  bottom: 3%;
  position: absolute;
}
section figure > div {
  width: 100%;
  height: 100%;
}
section figure #recordPlayer {
  padding-top: 20%;
  width: fit-content;
  height: 100%;
}
section figure #recordPlayer #player {
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 25px;
  background-color: #EDEDED;
  box-shadow: 109.95px 108.61px 42.91px rgba(40, 24, 11, 0.01), 69.72px 69.72px 40.23px rgba(40, 24, 11, 0.05), 40.23px 38.88px 33.52px rgba(40, 24, 11, 0.18), 17.43px 17.43px 24.14px rgba(40, 24, 11, 0.31), 4.02px 4.02px 13.41px rgba(40, 24, 11, 0.36);
}
section figure #recordPlayer #player h1 {
  line-height: 0.7;
  font-size: 900%;
  color: #EAE8FA;
  position: absolute;
  top: calc(0% - 100px);
  left: calc(50% - 158px);
}
section figure #recordPlayer #player p {
  rotate: -90deg;
  line-height: 1;
  font-size: 530%;
  color: #E9E9E9;
  position: absolute;
  top: calc(20% + 68px);
  left: calc(0% - 210px);
}
section figure #recordPlayer #player #pin {
  position: absolute;
  z-index: 9;
  width: fit-content;
  height: 74%;
  top: 13%;
  right: 5%;
  transform-origin: 98% 98%;
  transform: rotate(7deg);
  transition: 0.8s all ease-in-out;
}
section figure #recordPlayer #player #pin:hover {
  cursor: pointer;
  height: 86%;
}
section figure #recordPlayer #player #pinSeat {
  position: absolute;
  z-index: 10;
  width: 25%;
  height: fit-content;
  bottom: -6%;
  right: -6%;
}
section figure #vinyl {
  position: absolute;
  width: fit-content;
  height: 72%;
  top: 24.5%;
  left: 2%;
  z-index: 2;
}
section figure #vinyl #round {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
}
section figure #vinyl #round img {
  height: 100%;
  aspect-ratio: 1/1;
}
section figure #vinyl #round #droppable {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
section figure #vinyl #round #droppable img {
  position: absolute;
  top: 0;
  right: 0;
}
section #menuList {
  width: 160px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section #menuList li {
  height: 130px;
  width: 100%;
  margin: 25px 0;
}
section #menuList li .album {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.6s all ease-in-out;
}
section #menuList li .album > img {
  position: absolute;
  width: fit-content;
  height: 100%;
}
section #menuList li .album .albumCover {
  right: 0;
  top: 0;
  -webkit-user-drag: none;
}
section #menuList li .album .albumRecord {
  position: relative;
  height: 98%;
  aspect-ratio: 1/1;
  top: 0;
  left: 10px;
  transition: 1s all ease-in-out;
}
section #menuList li .album .albumRecord:hover {
  cursor: grab;
}
section #menuList li .album .albumRecord .background {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  /* 適用於 Webkit 瀏覽器 */
  pointer-events: none;
  /* 讓滑鼠事件穿透到父元素 */
}
section #menuList li .album .albumRecord .recordRotate {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  /* 適用於 Webkit 瀏覽器 */
  pointer-events: none;
  /* 讓滑鼠事件穿透到父元素 */
}
section #menuList li .album .albumRecord:active {
  cursor: grabbing;
}
section #menuList li .album:hover {
  cursor: pointer;
  rotate: -5deg;
}
section #menuList li .album:hover .albumRecord {
  left: -60px;
  top: 1%;
  rotate: -90deg;
}
section #menuList li .album .albumBasic {
  top: 0;
  right: calc(0% + 122px);
  -webkit-user-drag: none;
}
section #droppable .draggable {
  width: 100%;
  height: 100%;
}
section #droppable .draggable img {
  position: absolute;
  transform: scale(0.95);
}
section #content {
  width: 55%;
  height: 100vh;
  background-color: rgba(17, 17, 17, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
section #content a {
  color: #EDEDED;
}
section #content .inner {
  position: absolute;
  top: 16%;
  left: 10%;
  width: calc(90% - 240px);
  height: fit-content;
  color: #EDEDED;
}
section #content .inner h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
section #content .inner p {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 2.5rem;
}
section #content .inner .card {
  width: 88%;
  margin-top: 25px;
}
section #content .inner .card > div {
  padding: 10px;
  border: 1px solid #EDEDED;
  border-radius: 10px;
}
section #content .inner .card > div:first-child {
  margin-bottom: 20px;
}
section #content .inner .card h3 {
  width: 78%;
  padding-bottom: 5px;
  font-size: 24px;
  border-bottom: 2px solid #EDEDED;
}
section #content #contact .card > div {
  padding: 20px;
}
section #content #contact .card > div a {
  color: #EDEDED;
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 20px;
}
section #content #contact .card > div a:last-child {
  margin-bottom: 0;
}
section #content #contact .card > div a img {
  width: 36px;
  margin-right: 20px;
}
section #content #works .card {
  width: 100%;
}
section #content #about.inner,
section #content #works.inner,
section #content #contact.inner {
  display: none;
}

@media (max-width: 1440px) {
  section #content .inner {
    top: 8%;
    left: 8%;
    width: calc(92% - 180px);
  }
  section #content .inner p {
    font-size: 100%;
    line-height: 1.5rem;
  }
  section #content .inner .card p {
    font-size: 1rem;
  }
  section #center.moveCorner {
    transition: 2s 0.8s all ease-in-out;
  }
  section #menuList {
    width: 140px;
  }
  section #menuList li {
    height: 110px;
  }
  section #menuList li .album .albumBasic {
    right: calc(0% + 105px);
  }
}
@keyframes rotatePin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-25deg);
  }
}
@keyframes pinReturn {
  to {
    transform: rotate(8deg);
  }
}
@keyframes fadeOutTopLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, -100%, 0);
    transform: translate3d(-100%, -100%, 0);
  }
}/*# sourceMappingURL=record.css.map */