@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");
/* 重置所有標籤的樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* RWD不累加內距padding與邊框border */
}

/* 重置字體 */
body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 重置列表 */
ul,
ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* 重置連接 */
a {
  display: block;
  text-decoration: none;
  color: #444;
}

section {
  display: flex;
  align-items: center;
}

body {
  font-family: "Goldman", sans-serif;
  overflow: hidden;
}

section {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(168deg, #fffdd6 0%, #eb99d2 100%);
  justify-content: end;
}
section audio {
  position: absolute;
  top: 20px;
  right: 200px;
}
section #audioLicense {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  color: #444;
  word-wrap: break-word;
  display: none;
}
section #audioLicense #freeDownload {
  font-size: 0.8rem;
  color: #444;
  background-color: rgba(126, 122, 155, 0.3);
  border-radius: 5px;
  word-wrap: break-word;
}
section figure {
  width: 40%;
  height: 90vh;
  left: 30%;
  bottom: 3%;
  position: absolute;
}
section figure > div {
  width: 100%;
  height: 100%;
}
section figure > div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
section figure #recordPlayer {
  padding-top: 20%;
  width: fit-content;
  height: 100%;
}
section figure #recordPlayer #player {
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
  border-radius: 25px;
  background-color: #EDEDED;
  box-shadow: 109.95px 108.61px 42.91px rgba(40, 24, 11, 0.01), 69.72px 69.72px 40.23px rgba(40, 24, 11, 0.05), 40.23px 38.88px 33.52px rgba(40, 24, 11, 0.18), 17.43px 17.43px 24.14px rgba(40, 24, 11, 0.31), 4.02px 4.02px 13.41px rgba(40, 24, 11, 0.36);
}
section figure #recordPlayer #player h1 {
  line-height: 0.7;
  font-size: 900%;
  color: #9794B0;
  position: absolute;
  top: calc(0% - 100px);
  left: calc(50% - 158px);
}
section figure #recordPlayer #player p {
  rotate: -90deg;
  line-height: 1;
  font-size: 530%;
  color: #7e7a9b;
  position: absolute;
  top: calc(20% + 68px);
  left: calc(0% - 210px);
}
section figure #recordPlayer #player #pin {
  position: absolute;
  z-index: 9;
  width: fit-content;
  height: 74%;
  top: 13%;
  right: 5%;
  transform-origin: 70% bottom;
  transform: rotate(3deg);
  transition: 0.8s all ease-in-out;
}
section figure #recordPlayer #player #pin:hover {
  cursor: pointer;
  height: 86%;
}
section figure #recordPlayer #player #pin.beclick {
  transform: rotate(-6deg);
}
section figure #recordPlayer #player #pinSeat {
  position: absolute;
  z-index: 10;
  width: 25%;
  height: fit-content;
  bottom: -6%;
  right: -6%;
}
section figure #vinyl {
  position: absolute;
  width: fit-content;
  height: 66%;
  top: 27.5%;
  left: 4%;
  z-index: 2;
}
section figure #vinyl #round {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: relative;
}
section figure #vinyl #round .homeVinyl.beclick {
  animation: fadeOutTopLeft 1.8s forwards;
}
section figure #vinyl #round #droppable {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 100%;
}
section figure #vinyl #round #vinylBasic {
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.95);
}
section figure #vinyl #round #rotateImg {
  position: absolute;
  transform: scale(0.95);
  top: 0;
  right: 0;
}
section #menuList {
  width: 160px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid green;
}
section #menuList li {
  height: 130px;
  width: 100%;
  border: 1px solid green;
  margin: 25px 0;
}
section #menuList li .album {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.6s all ease-in-out;
}
section #menuList li .album img {
  position: absolute;
  width: fit-content;
  height: 100%;
}
section #menuList li .album .albumCover {
  right: 0;
  top: 0;
}
section #menuList li .album .albumRecord {
  height: 98%;
  top: 0;
  left: 10px;
  transition: 1s all ease-in-out;
}
section #menuList li .album .albumRecord:active {
  cursor: grabbing;
}
section #menuList li .album:hover {
  cursor: grab;
  rotate: -5deg;
}
section #menuList li .album:hover .albumRecord {
  left: -60px;
  top: 1%;
  rotate: -90deg;
}
section #menuList li .album .albumBasic {
  top: 0;
  right: calc(0% + 122px);
}

@keyframes rotatePin {
  from {
    transform: rotate(-6deg);
  }
  to {
    transform: rotate(-32deg);
  }
}
@keyframes pinReturn {
  to {
    transform: rotate(3deg);
  }
}
@keyframes fadeOutTopLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, -100%, 0);
    transform: translate3d(-100%, -100%, 0);
  }
}/*# sourceMappingURL=record.css.map */