@use 'reset';
@use 'variables' as *;
@use 'function' as *;

section {
    width: 100%;
    height: 100vh;
    @extend %flex-align-center;
    justify-content: space-evenly;
    background-color:  map-get($pomoColor, primary1);

    > div {
        width: 45%;
        height: 80vh;
    }
}

#showTime {
    // flex: 1;
    border: 1px solid yellowgreen;
}

#task {
    // flex: 1;
    border: 1px solid aqua;
}