@use 'reset';
@use 'variables' as *;
@use 'function' as *;
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap'), url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');


body {
    font-family: 'Goldman', sans-serif;
    overflow: hidden;

    a {
        color: map-get($recordColor, lightgray);
    }
}

section {
    width: 100%;
    height: 100vh;
    // background-image: linear-gradient(168deg, $gradient-y-p);
    background-image: url(../images/record/custom-gradient-12.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @extend %flex-align-center;
    justify-content: end;

    header {
        position: absolute;
        font-size: map-get($font-size, xl);
        line-height: map-get($font-size, xl);
        top: 20px;
        left: 20px;
        padding: $interval-m;
        color: map-get($recordColor, lightgray);
        border: 4px solid map-get($recordColor, lightgray);
        display: none;
    }

    audio {
        position: absolute;
        top: 20px;
        right: 200px;
    }

    #audioLicense {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 25%;
        padding: 10px;
        font-size: map-get($font-size, m);
        border-radius: 5px;
        color: map-get($recordColor, lightgray);
        word-wrap: break-word;
        display: none;

        #freeDownload {
            color: map-get($recordColor, lightgray);
            font-size: map-get($font-size, s);
            border-radius: 5px;
            word-wrap: break-word;
        }
    }

    #audioLicense2 {
        color: map-get($recordColor, lightgray);
        position: absolute;
        left: 10%;
        top: 10%;
        font-size: 24px;
        display: none;
        span {
            font-size: 42px;
        }

        a {
            font-size: 14px;
        }
    }


    figure {
        width: 40%;
        height: 84vh;
        left: 30%;
        bottom: 3%;
        position: absolute;

        >div {
            width: 100%;
            height: 100%;
        }

        #recordPlayer {
            padding-top: 20%;
            width: fit-content;
            height: 100%;
            // min-width: 350px;

            #player {
                position: relative;
                height: 100%;
                // 設定寬會抓高且1:1
                aspect-ratio: 1/1;
                border-radius: 25px;
                background-color: map-get($recordColor, lightgray);

                box-shadow:
                    109.95px 108.61px 42.91px rgba(40, 24, 11, 0.01),
                    69.72px 69.72px 40.23px rgba(40, 24, 11, 0.05),
                    40.23px 38.88px 33.52px rgba(40, 24, 11, 0.18),
                    17.43px 17.43px 24.14px rgba(40, 24, 11, 0.31),
                    4.02px 4.02px 13.41px rgba(40, 24, 11, 0.36);

                h1 {
                    line-height: .7;
                    font-size: 900%;
                    color: map-get($recordColor, secondary1);
                    position: absolute;
                    top: calc(0% - 100px);
                    left: calc(50% - 158px);
                }

                p {
                    rotate: -90deg;
                    line-height: 1;
                    font-size: 530%;
                    color: map-get($recordColor, secondary2);
                    position: absolute;
                    top: calc(0% + 20% + 68px);
                    left: calc(0% - 210px);
                }

                #pin {
                    position: absolute;
                    z-index: 9;
                    width: fit-content;
                    height: 74%;
                    top: calc(0% + 13%);
                    right: 5%;
                    transform-origin: 98% 98%;
                    transform: rotate(7deg);
                    transition: .8s all ease-in-out;

                    &:hover {
                        cursor: pointer;
                        height: 86%;
                    }

                    // &.beclick {
                    //     transform: rotate(-6deg);
                    // }

                }

                #pinSeat {
                    position: absolute;
                    z-index: 10;
                    width: 25%;
                    height: fit-content;
                    bottom: -6%;
                    right: -6%;
                }
            }
        }

        #vinyl {
            position: absolute;
            width: fit-content;
            height: 72%;
            top: calc(0% + 20% + 4.5%);
            left: calc(0% + 2%);
            z-index: 2;

            #round {
                width: 100%;
                height: 100%;
                z-index: -1;
                position: relative;

                img {
                    height: 100%;
                    aspect-ratio: 1/1;
                }

                #droppable {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;

                    img {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }

            }


        }


    }

    #menuList {
        width: 160px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        li {
            height: 130px;
            width: 100%;
            margin: $interval-xxl 0;

            .album {
                width: 100%;
                height: 100%;
                position: relative;
                transition: .6s all ease-in-out;

                >img {
                    position: absolute;
                    width: fit-content;
                    height: 100%;
                }

                .albumCover {
                    right: 0;
                    top: 0;
                    -webkit-user-drag: none;
                }

                .albumRecord {
                    position: relative;
                    // position: absolute;
                    height: 98%;
                    aspect-ratio: 1/1;
                    top: 0;
                    left: 10px;
                    transition: 1s all ease-in-out;

                    &:hover {
                        cursor: grab;
                    }

                    .background {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        -webkit-user-drag: none;
                        /* 適用於 Webkit 瀏覽器 */
                        pointer-events: none;
                        /* 讓滑鼠事件穿透到父元素 */
                    }

                    .recordRotate {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        -webkit-user-drag: none;
                        /* 適用於 Webkit 瀏覽器 */
                        pointer-events: none;
                        /* 讓滑鼠事件穿透到父元素 */
                    }

                    &:active {
                        cursor: grabbing;
                    }
                }

                &:hover {
                    cursor: pointer;
                    rotate: -5deg;

                    .albumRecord {
                        left: -60px;
                        top: 1%;
                        rotate: -90deg;
                    }
                }

                .albumBasic {
                    top: 0;
                    right: calc(0% + 122px);
                    -webkit-user-drag: none;
                }
            }


        }
    }

    #droppable {

        .draggable {
            width: 100%;
            height: 100%;

            img {
                position: absolute;
                transform: scale(0.95);
            }
        }
    }

    #content {
        width: 55%;
        height: 100vh;
        background-color: $black-a3;
        position: absolute;
        top: 0;
        right: 0;
        display: none;

        .inner {
            position: absolute;
            top: 16%;
            left: 10%;
            width: calc(100% - 10% - 240px);
            height: fit-content;
            color: map-get($recordColor, lightgray);

            h2 {
                font-size: 40px;
                margin-bottom: $interval-xl;
            }

            p {
                font-family: $font-family-tc;
                font-weight: 500;
                font-size: 20px;
                line-height: 2.5rem;
            }

            .card {
                width: 88%;
                margin-top: $interval-xxl;

                >div {
                    padding: $interval-m;
                    border: 1px solid map-get($recordColor, lightgray);
                    border-radius: 10px;
                }

                >div:first-child {
                    margin-bottom: $interval-xl;
                }

                h3 {
                    width: 78%;
                    padding-bottom: $interval-s;
                    font-size: 24px;
                    border-bottom: 2px solid map-get($recordColor, lightgray);
                }
            }
        }

        #contact {
            .card {
                >div {
                    padding: $interval-xl;

                    a {
                        display: flex;
                        align-items: center;
                        font-size: 1rem;
                        margin-bottom: $interval-xl;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        img {
                            width: 36px;
                            margin-right: $interval-xl;
                        }
                    }
                }
            }
        }


        #works {
            .card {
                width: 100%;
            }
        }

        #about.inner,
        #works.inner,
        #contact.inner {
            display: none;
        }
    }

}

@media (max-width:1440px) {
    section {
        #content .inner {
            top: 8%;
            left: 8%;
            width: calc(100% - 8% - 180px);

            p {
                font-size: 100%;
                line-height: 1.5rem;
            }

            .card {

                p {
                    font-size: 1rem;
                }
            }
        }

        #center.moveCorner {
            transition: 2s 0.8s all ease-in-out;
        }

        #menuList {
            width: 140px;

            li {
                height: 110px;

                .album {
                    .albumBasic {
                        right: calc(0% + 105px);
                    }
                }

            }
        }
    }
}


@keyframes rotatePin {
    from {
        transform: rotate(-0deg);
    }

    to {
        transform: rotate(-25deg);
    }
}

@keyframes pinReturn {
    to {
        transform: rotate(8deg);
    }
}

@keyframes fadeOutTopLeft {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, -100%, 0);
        transform: translate3d(-100%, -100%, 0)
    }
}