@use 'reset';
@use 'variables' as *;
@use 'function' as *;

main {
    width: 100%;
    height: 100vh;
    background-color: map-get($color, primary);
    overflow: hidden;

    #homePage {
        width: 100%;
        height: 101vh;

        #centerContainer {
            position: relative;
        }

        #line-1 {
            width: 600px;
            position: absolute;
            top: 30vh;
            left: 20%;
        }

        #line-1 svg path {
            stroke-width: 2px;
            stroke-dasharray: 0 2600;
            stroke-dashoffset: -995;
            fill: transparent;
            animation: line-1 3s linear forwards;
        }

    }


}



@keyframes line-1 {
    60% {
        stroke-dasharray: 2600 0;
        stroke-dashoffset: -995;
        fill: transparent;
    }

    100% {
        stroke-dasharray: 2600 0;
        stroke-dashoffset: -995;
        fill: map-get($color, secondary2);
    }
}